apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: yyc-smart-office
  namespace: yyc
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: yyc-smart-office
  minReplicas: 2
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
